attrs==21.2.0
coverage==4.5.1
importlib-metadata==2.1.2
iniconfig==1.1.1
packaging==20.9
pathlib2==2.3.6
pluggy==0.13.1
psutil==5.8.0
py==1.11.0
pyparsing==2.4.7
pytest==6.1.2
pytest-cov==2.5.1
six==1.16.0
toml==0.10.2
tox==2.9.1
tox-virtualenv-no-download==1.0.2
virtualenv==15.0.2
zipp==1.2.0
