alabaster==0.7.12
astroid==2.1.0
atomicwrites==1.4.0
attrs==21.2.0
Babel==2.9.1
bleach==4.1.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
colorama==0.4.4
commonmark==0.9.1
coverage==6.1.2
cryptography==35.0.0
cvxopt==1.2.7
cycler==0.11.0
dlx==1.0.4
docplex==2.22.213
docutils==0.17.1
fastdtw==0.3.4
fonttools==4.28.1
google-api-core==1.31.4
google-auth==1.35.0
googleapis-common-protos==1.53.0
grpcio==1.42.0
grpcio-tools==1.24.3
h5py==3.6.0
idna==3.3
imagesize==1.3.0
importlib-metadata==4.8.2
importlib-resources==5.4.0
inflection==0.5.1
iniconfig==1.1.1
isort==4.3.21
jeepney==0.7.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.2.1
keyring==23.2.1
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
Markdown==3.3.6
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-polyfield==5.10
matplotlib==3.5.0
mccabe==0.6.1
more-itertools==8.11.0
mpmath==1.2.1
mypy==0.701
mypy-extensions==0.4.3
mypy-protobuf==1.10
nest-asyncio==1.0.0
networkx==2.6.3
ntlm-auth==1.5.0
numpy==1.21.4
ordered-set==4.0.2
packaging==21.3
pandas==0.25.3
Pillow==8.4.0
pkginfo==1.8.1
pluggy==1.0.0
ply==3.11
protobuf==3.19.1
psutil==5.8.0
py==1.11.0
py-cpuinfo==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.10.0
PyLaTeX==1.3.4
pylint==2.3.1
pypandoc==1.6.4
pyparsing==3.0.6
pyrsistent==0.18.0
pyscf==2.0.1
pytest==5.4.3
pytest-asyncio==0.10.0
pytest-benchmark==3.2.3
pytest-cov==2.5.1
python-dateutil==2.8.2
pytz==2021.3
qiskit==0.13.0
qiskit-aer==0.3.2
qiskit-aqua==0.6.1
qiskit-ibmq-provider==0.3.3
qiskit-ignis==0.2.0
qiskit-terra==0.10.0
Quandl==3.7.0
readme-renderer==30.0
recommonmark==0.7.1
requests==2.26.0
requests-ntlm==1.1.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rsa==4.7.2
scikit-learn==1.0.1
scipy==1.7.2
SecretStorage==3.3.1
setuptools-scm==6.3.2
six==1.16.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
Sphinx==4.3.0
sphinx-markdown-tables==0.0.15
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sympy==1.9
threadpoolctl==3.0.0
toml==0.10.2
tomli==1.2.2
tqdm==4.62.3
twine==3.6.0
typed-ast==1.3.5
typing-extensions==4.0.0
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
websockets==7.0
wrapt==1.13.3
yapf==0.27.0
zipp==3.6.0
