aiobotocore==2.0.1
aiohttp==3.8.1
aioitertools==0.8.0
aiosignal==1.2.0
alabaster==0.7.12
appdirs==1.4.4
argcomplete==1.12.3
argon2-cffi==21.1.0
asv==0.4.2
async-timeout==4.0.1
asynctest==0.13.0
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.10.0
black==20.8b1
bleach==4.1.0
blosc==1.10.6
boto3==1.20.16
botocore==1.23.16
Bottleneck==1.3.2
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
cftime==1.5.1.1
charset-normalizer==2.0.8
click==8.0.3
cloudpickle==2.0.0
coverage==6.2
cpplint==1.5.5
cramjam==2.5.0
cryptography==36.0.0
cycler==0.11.0
Cython==0.29.24
dask==2021.11.2
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.3
docutils==0.18.1
entrypoints==0.3
et-xmlfile==1.1.0
execnet==1.9.0
fastparquet==0.7.2
feedparser==6.0.8
filelock==3.4.0
flake8==4.0.1
flake8-comprehensions==3.7.0
Flask==2.0.2
fonttools==4.28.2
frozenlist==1.2.0
fsspec==2021.11.1
gcsfs==2021.11.1
gitdb==4.0.9
GitPython==3.1.24
google-api-core==2.2.2
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-cloud-core==2.2.1
google-cloud-storage==1.43.0
google-crc32c==1.3.0
google-resumable-media==2.1.0
googleapis-common-protos==1.53.0
greenlet==1.1.2
html5lib==1.1
hypothesis==6.29.0
identify==2.4.0
idna==3.3
imagesize==1.3.0
importlib-metadata==4.2.0
importlib-resources==5.4.0
iniconfig==1.1.1
ipykernel==6.5.1
ipython==7.30.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.10.1
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
jmespath==0.10.0
jsonschema==4.2.1
jupyter-client==7.1.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
llvmlite==0.37.0
locket==0.2.1
lxml==4.6.4
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.0
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
moto==2.2.17
multidict==5.2.0
mypy==0.790
mypy-extensions==0.4.3
natsort==8.0.0
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.0.8
nbsphinx==0.8.7
nest-asyncio==1.5.1
nodeenv==1.6.0
notebook==6.4.6
numba==0.54.1
numexpr==2.7.3
numpy==1.21.4
oauthlib==3.1.1
odfpy==1.4.1
openpyxl==3.0.9
packaging==21.3
pandoc==1.1.0
pandocfilters==1.5.0
parso==0.8.2
partd==1.2.0
pathspec==0.9.0
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.4.0
pluggy==1.0.0
plumbum==1.7.1
ply==3.11
pre-commit==2.15.0
prometheus-client==0.12.0
prompt-toolkit==3.0.23
protobuf==3.19.1
psutil==5.8.0
ptyprocess==0.7.0
py==1.11.0
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
Pygments==2.10.0
pyparsing==3.0.6
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyreadstat==1.1.3
pyrsistent==0.18.0
pytest==6.2.5
pytest-asyncio==0.16.0
pytest-cov==3.0.0
pytest-forked==1.3.0
pytest-instafail==0.4.2
pytest-xdist==2.4.0
python-dateutil==2.8.2
python-snappy==0.6.0
pytz==2021.3
pyupgrade==2.29.1
PyYAML==6.0
pyzmq==22.3.0
regex==2021.11.10
requests==2.26.0
requests-oauthlib==1.3.0
responses==0.16.0
rsa==4.8
s3fs==2021.11.1
s3transfer==0.5.0
scipy==1.7.3
seaborn==0.11.2
Send2Trash==1.8.0
setuptools-scm==6.3.2
sgmllib3k==1.0.0
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
Sphinx==4.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.27
statsmodels==0.13.1
tables==3.6.1
tabulate==0.8.9
terminado==0.12.1
testpath==0.5.0
thrift==0.15.0
tokenize-rt==4.2.1
toml==0.10.2
tomli==1.2.2
toolz==0.11.2
tornado==6.1
traitlets==5.1.1
typed-ast==1.5.0
typing-extensions==4.0.0
urllib3==1.26.7
virtualenv==20.10.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wrapt==1.13.3
xarray==0.20.1
xlrd==2.0.1
XlsxWriter==3.0.2
xlwt==1.3.0
xmltodict==0.12.0
yarl==1.7.2
zipp==3.6.0
