aiohttp==3.8.1
aiohttp-socks==0.7.1
aiorpcX==0.18.7
aiosignal==1.2.0
async-timeout==4.0.1
asynctest==0.13.0
attrs==21.2.0
base58==2.1.1
bitbox02==5.3.0
bitstring==3.1.9
btchip-python==0.1.32
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
ckcc-protocol==1.1.0
click==8.0.3
construct==2.10.67
cryptography==36.0.0
dnspython==2.0.0
ecdsa==0.17.0
frozenlist==1.2.0
helpdev==0.7.1
hidapi==0.11.0.post2
idna==3.3
importlib-metadata==4.8.2
iniconfig==1.1.1
keepkey==6.3.1
libusb1==2.0.1
mnemonic==0.20
multidict==5.2.0
noiseprotocol==0.3.1
packaging==21.3
pluggy==1.0.0
protobuf==3.19.1
psutil==5.8.0
py==1.11.0
pyaes==1.6.1
pycparser==2.21
pyparsing==3.0.6
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pytest==6.2.5
python-socks==2.0.0
QDarkStyle==2.8.1
qrcode==7.3.1
QtPy==1.11.3
requests==2.26.0
safet==0.1.5
semver==2.13.0
six==1.16.0
toml==0.10.2
trezor==0.12.4
typing-extensions==4.0.1
urllib3==1.26.7
yarl==1.7.2
zipp==3.6.0
