aniso8601==5.1.0
attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.7
coverage==6.1.2
coveralls==3.3.1
docopt==0.6.2
fastdiff==0.3.0
graphql-core==2.3.2
graphql-relay==0.5.0
idna==3.3
importlib-metadata==4.8.2
iniconfig==1.1.1
iso8601==1.0.0
mock==4.0.3
packaging==21.3
pluggy==1.0.0
promise==2.3
psutil==5.8.0
py==1.11.0
py-cpuinfo==8.0.0
pyparsing==3.0.6
pytest==6.2.5
pytest-asyncio==0.16.0
pytest-benchmark==3.4.1
pytest-cov==3.0.0
pytest-mock==3.6.1
python-dateutil==2.8.2
pytz==2021.3
relativetimebuilder==3.0.0
requests==2.26.0
Rx==1.6.1
six==1.16.0
snapshottest==0.6.0
termcolor==1.1.0
toml==0.10.2
typing-extensions==4.0.0
urllib3==1.26.7
wasmer==1.0.0
wasmer-compiler-cranelift==1.0.0
zipp==3.6.0
